body, html { margin: 0; padding: 0; height: 100%; }
* { font-family: sans-serif; font-size: 1em; }

@media screen and (min-width: 721px) {
    #about { width: 30%; margin: 3% auto; }
    #about a { width: 100%; }
    #thumb .button { padding: 1.5% 3%;  width: 8%;}

    /* menu */
    #menu li.menu-item { display: inline-block; }
    #menu li.side-item { display: none; }

    /* portfolio */
    #portfolio .content { width: 40%;}

    /* habilidades */
    #habilidades #content { padding: 6% 0; }
    #habilidades .item { width: 20%; }

    /* contact */
    #contato form { width: 30%; }
    #contato input[type="submit"] { padding: 2%; }

    /* footer */
    footer a.social-item { margin: 1%; }
}

@media screen and (max-width: 720px) {
    #about { width: 60%; margin: 3% auto; }
    #about a { width: 100%; }
    #thumb .button { padding: 3%;  width: 10%;}

    /* menu */
    #menu li.menu-item { display: inline-block; }
    #menu li.side-item { display: none; }

    /* portfolio */
    #portfolio .content { width: 40%;}

    /* habilidades */
    #habilidades #content { padding: 12% 0; }
    #habilidades .item { width: 30%; }

    /* contact */
    #contato form { width: 50%; }
    #contato input[type="submit"] { padding: 4%; }

    /* footer */
    footer a.social-item { margin: 2%; }
}

@media screen and (max-width: 480px) {
    #about { width: 90%; margin: 10% auto; }
    #about a { width: 90%; }
    #thumb .button { padding: 4% 6%; width: 15%;}

    /* menu */
    #menu li.menu-item { display: none; }
    #menu li.side-item { display: inline-block; margin-left:5%; }

    /* portfolio */
    #portfolio .content { width: 90%;}

    /* habilidades */
    #habilidades #content { padding: 30% 0 10%; }
    #habilidades .item { width: 40%; }

    /* contact */
    #contato form { width: 80%; }
    #contato input[type="submit"] { padding: 4%; }

    /* footer */
    footer { padding: 3% 0; }
    footer a.social-item { margin: 3%; }
}


/* class */

/* make a element on center */
.middle { top: 50%; left: 50%; position: absolute; transform: translate(-50%, -50%);}

/*thumb*/
#thumb { display: block; height: 100%; width: 100%; background: url(../images/1.jpeg) no-repeat; background-size: cover; }
#thumb #content { width: 100%; height: 100%; background-color: rgba(0, 0, 0, .7); }
#thumb #center-content { width: 90%; text-align: center;}

/* thumb title */
#thumb #center-content #title { color: #fff; font-size: 1.5em; display: block; animation: titleThumb 2s; }
@keyframes titleThumb {
    0% {
        letter-spacing: 2px;
    }
    25% {
        letter-spacing: 4px;
        transform: rotateX(180deg);
    }
    50% {
        letter-spacing: 6px;
        color: #63280a;
    }
    75% {
        letter-spacing: 8px;
    }
    100% {
        letter-spacing: normal;
    }
}

/* about */
#about { background-color: rgba(39, 54, 58, .5); display: block; border-radius: 24px;   padding: 1% 2%; }
#about h1 { color: #ff8e40; font-size: 1.3em; }
#about img { width: 13%; border-radius: 50%; display: block; margin: 2% auto; }
#about a { color: rgb(197, 197, 197); display: block; margin: 2% auto; text-align: justify;}

/* thumb buttons */
#thumb #buttons { display: block; width: 100%; margin-top: 3%;}
#thumb .button { margin: 0 2%; display: inline-block; cursor: pointer; transition: 0.25s; background-color: #0d5e77;  border-radius: 24px; }
#thumb .button:hover { background-color: #27363a;  }
#thumb .button:hover > a {  color: #ff8e40; }
#thumb .button a { color: #fff;}

/* #thumb img { width: 100%;} */

/* menu */
.menu-style { background-color: #fff; border-bottom: 2px solid #ff8e40; box-shadow: 1px 1px 4px #000; }
#menu { z-index: 3; top: 0; display: block; position: fixed; width: 100%; transition: 0.5s; }
#menu ul { width: 100%; padding: 0; list-style-type: none; }
#menu li.menu-item {  margin: 0 1%; }
#menu li.menu-item a { color: #fff; text-decoration: none; transition: 0.25s; padding-bottom: 6%;}
#menu li.menu-item a:hover { border-bottom: 3px solid #0d5e77; }

#menu li.side-item i { transition: 0.5s; color: #fff; font-size: 1.5em;  cursor: pointer;}
#menu li.side-item i:hover { color: #ff8e40 !important;}

/* mobile menu */
#mobile-menu { display: none; z-index: 4; width: 100%; height: 100%; position: fixed; top: 0; background-color: rgba(0, 0, 0, .9); }
#close { font-size: 1.7em; float: right; margin: 4%; color: #fff; cursor: pointer;  transition: 0.5s;}
#close:hover { color: #ff8e40; }
#mobile-menu ul { padding: 0; list-style-type: none;}
#mobile-menu ul li { transition: 0.5s; width: 30%; display: block; margin: 4% auto; text-align: center; border: 2px solid #ff8e40; border-radius: 24px; padding: 2%; cursor: pointer;}
#mobile-menu ul li:hover { background-color: #27363a; border: 2px solid #063949;}
#mobile-menu ul li:hover a { color: #ff8e40;}
#mobile-menu ul li a {  transition: 0.5s; color: #fff; text-decoration: none;}

/* portfolio */
#portfolio {  display: block; }
#portfolio h1 { display: block; font-size: 1.8em; font-weight: 900; text-align: center; }
#portfolio #projects { margin-top: 3%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;  width: 100%;}
#portfolio img { width: 100%; cursor: pointer; transition: 0.25s;}
#portfolio img:hover { transform: scale(1.06); }

/* habilidades */
#habilidades { margin: 5% 0; display: flex; text-align: center; width: 100%; background: url(../images/2.jpeg) no-repeat; background-size: cover; }
#habilidades h1 { color: #ff8e40; left: 50%; margin-bottom: 2%; transform: translateX(-50%); position: absolute; display: block; font-size: 2em;  text-align: center; }
#habilidades #content { display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .7); }
#habilidades .item { transition: 0.5s; cursor: pointer; background-color: #fff; border: 2px solid #ff8e40; padding: 3% 0; margin: 3% 2%; display: flex; flex-direction: column; text-align: center; border-radius: 10px; }
#habilidades .item:hover { background-color: #27363a;}
#habilidades .item:hover a.title { color: #fff;}
#habilidades .item:hover i { color: #ff8e40; transform: scale(1.2);}
#habilidades .item i { transition: 0.5s; font-size: 4em; margin-bottom: 5%; color:#63280a;}
#habilidades .item a.title { transition: 0.5s; color: rgb(39, 39, 39); font-size: 1.2em; margin-top: 3%; text-transform: uppercase; font-weight: 500; font-style: italic; }

/* contato */
#contato { display: block; margin-top: 4%; }
#contato h1 { font-size: 1.4em; text-align: center; display: block; font-weight: 700;}
#contato form {display: block; margin: auto;}
#contato input, textarea { display: block; outline: none;}
#contato input[type="text"], #contato input[type="email"], textarea { resize: none; transition: 0.25s; margin: 2% auto; width: 100%; padding: 2% 0; border-radius: 24px; font-size: 1em; border: 2px solid #0d5e77; text-align: center; }
#contato input[type="text"]:focus, #contato input[type="email"]:focus, textarea:focus {border: 2px solid #ff8e40; }
#contato input[type="submit"] { transition: 0.25s; margin: 2% auto; border-radius: 24px; border: 0;  width: 30%; background-color: #063949; cursor: pointer; color: #fff; }
#contato input[type="submit"]:hover { background-color: #27363a; color: #ff8e40; }

/* footer */
footer { text-align: center; width: 100%; display: block; background-color: #000; border-top: 3px solid #ff8e40; box-shadow: 1px 1px 3px #ccc;}
footer a { color: #fff; display: block; margin: 1% 0; font-size: 1.1em;}
footer a.social-item { cursor: pointer; display: inline-block; color: #fff; transition: 0.25s; }
footer a.social-item:hover { color: #ff8e40; transform: scale(1.5);  }